@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap');


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #1F3757;
}

main {
  padding-top: 48px;
  width: 95%;
  margin-inline: 32px;
  height: calc(100vh - 3rem);
  position: relative;
}

.score-panel {
  width: 100%;
  max-width: 700px;
  height: 150px;
  border-radius: 15px;
  margin: 0 auto 64px;
  border: 1px solid rgba(255, 255, 255, 0.289199);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin: 18px 24px;
  height: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.score-board {
  width: 150px;
  height: 114px;
  background: #ffffff;
  display: flex;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.text {
  width: 55px;
  height: 83px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.5px;
  color: #2A45C2;
  text-transform: uppercase;
}

.num {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  text-align: center;
  color: #565468;
}

 .picked {
  height: 32px;
  font-family: 'Barlow Semi Condensed';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 3px;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  text-transform: uppercase;
  display: none;
}

.house-picked {
  font-family: 'Barlow Semi Condensed';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 3px;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  text-transform: uppercase;
  display: none;
  position: relative;
}

.selection {
  background: url('./images/bg-triangle.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  width: 476px;
  height: 430px;
  margin: 0 auto;
}

.selection.selected {
  width: 100%;
  max-width: 700px;
}

.selection.selected .upper {
  padding-right: 76.38px;
}

.selection.selected .lower {
  width: 100%;
  max-width: 700px;
}

.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paper,
.scissors,
.rock {
  width: 198px;
  height: 203px;
  position: relative;
}

.outer-oval {
  width: 198px;
  height: 203px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  border-radius: 50%;
}

.outer-oval.paper { background: #2A45C2 }
.outer-oval.scissors { background: #C76C1B }
.outer-oval.rock { background: #9D1634 }

.inner-oval1 {
  width: 198px;
  height: 194px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-oval1.paper { background: #4664F4 }
.inner-oval1.scissors { background: #EB9F0E }
.inner-oval1.rock { background: #DB2E4D }

.inner-oval2 {
  width: 152px;
  height: 152px;
  background: #BABFD4;
  border-radius: 50%;
}

.inner-oval3 {
  width: 152px;
  height: 144px;
  margin-top: 8px;  
  background: linear-gradient(0deg, #F3F3F3 0%, #DADADA 98.34%); 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-oval3.paper img{
  width: 73px;
  height: 86px;
}

.inner-oval3.scissors img {
  height: 80px;
}

.inner-oval3.rock img {
  width: 76px;
  height: 76px;
}

.lower{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.btn { margin-top: 4px }

 button {
  width: 128px;
  height: 40px;
  background: none;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 32px;
  position: absolute;
  right: 0;
  bottom: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 2.5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

button:hover {
  color: #3B4262;
  background: #ffffff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: .3s ease-in-out;
  width: 400px;
  height: 415px;
  background: #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  border-radius: 8px;
  z-index: 10;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  width: 336.09px;
  height: 32px;
  margin: 32px auto 48px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header span {
  font-family: 'Barlow Semi Condensed';
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #3B4262;
  text-transform: uppercase;
}

.modal-header img {
  width: 19.09px;
  height: 19.09px;
}

.modal-content {
  background-repeat: no-repeat;
  width: 305px;
  height: 271px;
  margin: 0 46px 32px 49px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .3s ease-in-out;
  background-color: rgba(0, 0, 0, .6);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

.pick {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.empty-circle, .empty-circle-rock {
  width: 224.63px;
  height: 224.63px;
  background: rgba(0, 0, 0, 0.1);
  display: none;
  border-radius: 50%;
  margin-top: 90px;
}

.empty-circle-rock {
  margin-right: 63.62px;
}