@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap');


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #1F3757;
}

main {
  padding-top: 48px;
  /* width: 95%; */
  /* margin-inline: 32px; */
  height: calc(100vh - 3rem);
  position: relative;
}

.score-panel {
  width: 100%;
  max-width: 700px;
  height: 150px;
  border-radius: 15px;
  margin: 0 auto 64px;
  border: 1px solid rgba(255, 255, 255, 0.289199);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin: 18px 24px;
  height: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.score-board {
  width: 150px;
  height: 114px;
  background: #ffffff;
  display: flex;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.text {
  width: 55px;
  height: 83px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.5px;
  color: #2A45C2;
  text-transform: uppercase;
}

.num {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  text-align: center;
  color: #565468;
}

 .picked {
  height: 32px;
  font-family: 'Barlow Semi Condensed';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 3px;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  text-transform: uppercase;
  display: none;
}

.house-picked {
  font-family: 'Barlow Semi Condensed';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 3px;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  text-transform: uppercase;
  display: none;
  position: relative;
}

.selection {
  background: url('./images/bg-triangle.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  width: 476px;
  height: 430px;
  margin: 0 auto;
  /* background: red; */
}

.selection.selected {
  width: 100%;
  /* max-width: 938px; */
  max-width: 700px;
}

.selection.media-select {
  max-width: 938px;
}

.selection.selected .upper {
  padding-right: 76.38px;
}

.selection.selected .lower {
  width: 100%;
  max-width: 700px;
}

.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paper,
.scissors,
.rock {
  width: 198px;
  height: 203px;
  position: relative;
}

.outer-oval {
  width: 198px;
  height: 203px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  border-radius: 50%;
}

.outer-oval.paper { background: #2A45C2 }
.outer-oval.scissors { background: #C76C1B }
.outer-oval.rock { background: #9D1634 }

.inner-oval1 {
  width: 198px;
  height: 194px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-oval1.paper { background: #4664F4 }
.inner-oval1.scissors { background: #EB9F0E }
.inner-oval1.rock { background: #DB2E4D }

.inner-oval2 {
  width: 152px;
  height: 152px;
  background: #BABFD4;
  border-radius: 50%;
}

.inner-oval3 {
  width: 152px;
  height: 144px;
  margin-top: 8px;  
  background: linear-gradient(0deg, #F3F3F3 0%, #DADADA 98.34%); 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-oval3.paper img{
  width: 73px;
  height: 86px;
}

.inner-oval3.scissors img {
  height: 80px;
}

.inner-oval3.rock img {
  width: 76px;
  height: 76px;
}

.lower{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 24px; */
}

.btn { 
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: green;
 }

 .button,
 .advanced {
  width: 128px;
  height: 40px;
  background: none;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 32px;
  position: absolute;
  right: 32px;
  bottom: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 2.5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.advanced {
  left: 32px;
}

button:hover {
  color: #3B4262;
  background: #ffffff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: .3s ease-in-out;
  width: 400px;
  height: 415px;
  background: #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  border-radius: 8px;
  z-index: 10;
}

.advance {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: .3s ease-in-out;
  width: 400px;
  height: 461px;
  background: #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  border-radius: 8px;
  z-index: 10; 
}

.modal.active,
.advance.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  width: 336.09px;
  height: 32px;
  margin: 32px auto 48px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.modal-header span {
  font-family: 'Barlow Semi Condensed';
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #3B4262;
  text-transform: uppercase;
}

.modal-header img {
  width: 19.09px;
  height: 19.09px;
}

.modal-content {
  background-repeat: no-repeat;
  width: 305px;
  height: 271px;
  margin: 0 46px 32px 49px;
}

.modal-content1 {
  background-repeat: no-repeat;
  width: 336px;
  height: 330px;
  margin: -20px 32px 47px;
} 

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .3s ease-in-out;
  background-color: rgba(0, 0, 0, .6);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

.pick {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.empty-circle, .empty-circle-rock {
  width: 224.63px;
  height: 224.63px;
  background: rgba(0, 0, 0, 0.1);
  display: none;
  border-radius: 50%;
  margin-top: 90px;
}

.empty-circle-rock {
  margin-right: 63.62px;
}

.replay-round {
  width: 220px;
  height: 131px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
}

.replay-round.show {
  display: block;
}

.user-win,
.user-lose {
  width: 220px;
  height: 131px;
}

.user-win span,
.user-lose span {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-again {
  width: 220px;
  height: 48px;
  background: #FFFFFF;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  border-radius: 8px;
  margin-top: 16px;
  border: none;
  text-transform: uppercase;
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.5px;
  color: #3B4262;
}

.play-again:hover {
  color: #DB2E4D;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.outer-oval.selected {
  width: 292.61px;
  height: 300px;
}

.outer-oval.selected.comp {
  margin-left: -60px;
}

.outer-oval.selected.rock1 {
  margin-left: -130px;
}

.inner-oval1.selected {
  width: 292.61px;
  height: 286.7px;
}

.inner-oval2.selected {
  width: 224.63px;
  height: 224.63px;
}

.inner-oval3.selected {
  width: 224.63px;
  height: 212.81px;
  margin-top: 11.8px;
}

.inner-oval3.comp {
  margin-top: 11.82px;
} 

.disp-flex {
  display: none;
}

.selection-text.desk {
  display: block;
}

.selection-text.mobile {
  display: none;
}


@media only screen and (max-width: 450px) {
  main {
    /* width: 125vw; */
    padding-top: 32px;   
    /* height: 120vh; */
    /* background: wheat; */
  }

  .score-panel {
    width: 311px;
    height: 96px;
    /* margin-bottom: 105px; */
    /* background: red; */
  }

  .selection.selected .upper {
    padding-right: 0;
  }

  .upper {
    width: 100%;
  }

  .container {
    margin: 12px;
    height: 72px;
    width: 100%;
  }

  .container img {
    width: 83px;
    height: 48px;
  }

  .score-board {
    width: 80px;
    height: 72px;
  }

  .text {
    width: 35px;
    height: 52px;
  }

  .score {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.5625px;
  }

  .num {
    font-size: 40px;
    line-height: 40px;
  }

  .selection {
    width: 100%;
    max-width: 311px;
    height: 282px;
    background-position-y: 3.5rem;
    background-size: 226px 234px;
  }

  .selection.selected {
    max-width: 311px;
  }

  .selection-text.desk {
    display: none;
  }

  .selection-text.mobile {
    display: flex;
    margin-top: 17px;
  }

  .selection.rock-mob {
    /* margin-bottom: 30px; */
  }

  .button {
    position: absolute;
    left: 33%;
    /* margin-bottom: 56px; */
  }

  .paper,
  .scissors,
  .rock {
    width: 130px;
    height: 133px;
    position: relative;
  }

  .outer-oval {
    width: 130px;
    height: 133px;
  }

  .inner-oval1 {
    width: 129.37px;
    height: 126.78px;
  }

  .inner-oval2 {
    width: 100px;
    height: 100px;
  }
  
  .inner-oval3 {
    width: 99.31px;
    height: 94.1px;
    margin-top: 5.23px;
  }

  .inner-oval3.paper img{
    width: 48px;
    height: 56px;
  }

  .inner-oval3.scissors img {
    width: 63px;
    height: 63px;
  }
  
  .inner-oval3.rock img {
    width: 50px;
    height: 50px;
  }

  .modal {
    width: 100%;
    height: 100%;
  }

  .modal-header {
    top: 0;
    left: 0;
    margin: 95px auto 113px; 
    display: flex;
    flex-direction: column;
    gap: 538px;
    justify-content: space-between;
    align-items: center;
  }

  .modal-content {
    width: 305px;
    height: 271px;
    margin: 0 auto;
  }

  .empty-circle, .empty-circle-rock {
    width: 110px;
    height: 110px;
    margin-top: 0px;
  }

  .empty-circle-rock {
    margin-right: 0;
  }

  .pick {
    gap: 70px;
    width: 100%;
    /* max-width: 304px; */
  }

  .picked {
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 1.875px;
  }

  .house-picked {
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 1.875px;
  }

  .selection.selected {
    width: 100%;
    /* max-width: 938px; */
    max-width: 311px;
  }

  .selection.selected .upper,
  .selection.selected .lower {
    width: 100%;
  }

  .outer-oval.selected {
    width: 130px;
    height: 133px;
  }
  
  .inner-oval1.selected {
    width: 129.37px;
    height: 126.78px;
  }
  
  .inner-oval2.selected {
    width: 100px;
    height: 100px;
  }
  
  .inner-oval3.selected {
    width: 99.31px;
    height: 94.1px;
    margin-top: 5.23px;
  }

  .selection.media-select {
    max-width: 311px;
  }

  .replay-round.r-upper.show,
  .replay-round.r-lower.show {
    display: none;
  }

  .replay-round.mobile.show {
    display: block;
  }

  
  .outer-oval.selected.comp {
    margin-left: 0;
  }

  .disp-flex {
    display: flex;
    justify-content: center;
  }
}